		<div class="conatiner"></div>
        <div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="author-container">
					<h1>Burger Eater</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>See Eater Burgers</th>
								<th>New Burger</th>
								<th>Delete User</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="user-form">
									<td colspan="4">
										<input placeholder="Enter a User" id="user-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create User</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>